.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.camera-icon, .trash-icon, .file-icon, .check-icon {
  width: 75px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; 
}

.camera-icon:hover, .file-icon:hover, .check-icon:hover  {
  transform: scale(1.1);  /* Slightly enlarge the icon on hover */
  color: #2e7d32;
}

.trash-icon:hover {
  transform: scale(1.1);  /* Slightly enlarge the icon on hover */
  color: #d2211b;
}

.loader-circle-icon {
  width: 50px;
  height: auto;
  color: grey;
  animation: spin 1s linear infinite;
}

.loader-circle-icon, .check-icon {
  margin-top: 15px;
}

.preview_image img{
  width:20%;
  height: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Starting at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate 360 degrees */
  }
}
