:root {
  --main-bg-color: #0f0f0f;
  --main-fg-color: #252526;
  --icon-green: #2e7d32;
  --icon-red: #c33732;
  --container-content-width: 50%;
  --container-content-max-width: 450px;
}

html, body {
  height: 100%;
  background-color: var(--main-bg-color);
}

.App {
  display:flex;
  text-align: center;
  justify-content:center;
  background-color: var(--main-bg-color);
  color: #d9d9d9;
  font-size: 18px;
  height: 100%;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: var(--main-fg-color);
  width:75%;
  margin-top:30px;
  margin-bottom:30px;
  border:none;
}

.camera-icon, .trash-icon, .file-icon, .check-file-icon {
  width: 75px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; 
}

.camera-icon:hover, .file-icon:hover, .check-file-icon:hover, .check-data-icon:hover {
  transform: scale(1.1);
  color: var(--icon-green);
}
.check-file-icon{
  margin-top:30px;
  margin-bottom:30px;
}

.trash-icon:hover {
  transform: scale(1.1);
  color: var(--icon-red);
}

.preview_image{
  display:flex;
  width: var(--container-content-width);
  max-width: var(--container-content-max-width);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  height:auto;
}

.preview_image img{
  width:100%;
  height:auto;
}

.loader-circle-icon {
  width: 50px;
  height: auto;
  color: grey;
  animation: spin 1s linear infinite;
}

.loader-circle-icon, .check-icon {
  margin-top: 15px;
}

.error-icon{
  width: 50px;
  height: auto;
  margin-top: 15px;
  color: var(--icon-red);
}

.container-store-date-check{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--container-content-width);
  max-width: var(--container-content-max-width);
  margin-top:30px;
  margin-bottom:30px;

}

.container-store-date{
  display:flex;
  width:80%;
}

.container-store {
  display: flex;
  border:none;
  margin-right: 10px;
  width:40%;
  height:40px;
}

.container-store select{
  width: 100%;
  font-size:16px;
  text-align:center;
  padding:5px;
  border-radius:5px;
}

#select-store option{
  background-color:white;
  color:black;
}

#select-store option:checked{
  background-color:lightgray;
  color:black;
}

.container-date {
  display: flex;
  border:none;
  width:50%;
  height:40px;
  max-width:200px;
}

.container-date input{
  width:100%;
  font-size:16px;
  text-align:center;
  padding:5px;
  border-radius:5px;
}

.check-data-icon{
  width:15%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; 
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Starting at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate 360 degrees */
  }
}
